<h3>Attribute</h3>
<select (change)="updateAttributeSelected($event)">
  <option *ngFor="let attribute of this.attributes" [value]="attribute">
    {{ attribute }}
  </option>
</select>

<div id="divider">
  <div>
    <h3 id="groupValue">Select group value</h3>
    <select (change)="updateSelectedGroupValue($event)">
      <option *ngFor="let value of this.groupValues" [value]="value">
        {{ value }}
        {{ this.buildAllValues() }}
      </option>
    </select>

    <div></div>

    <h3>Expression Built</h3>
    <input type="text" />
  </div>
</div>
<div>-------------</div>

<div>
  Console Area
  <div>
  </div>
</div>
