<h3>Attribute</h3>
<div *ngFor="let element of this.elements">
  {{ this.setDefaultAttribute() }}
</div>
<div>
  <button (click)="this.addFacet()">
    <div></div>
    Add new Facet
  </button>
</div>

<select (change)="updateAttributeSelected($event)">
  <option *ngFor="let attribute of this.attributes" [value]="attribute">
    {{ attribute }}
  </option>
</select>

<div id="divider">
  <h3 id="groupValue">Select group value</h3>
  <select (change)="updateSelectedGroupValue($event)">
    <option *ngFor="let value of this.groupValues" [value]="value">
      {{ value }}
    </option>
  </select>

  <div></div>

  <h3>Expression Built</h3>
  <input type="text" [value]="this.attributeField" />
</div>
<div>-------------</div>

<div>
  Console Area
  <div></div>
</div>
